<ion-card>
  <ion-card-header>
    <ion-card-title>Recuperar Contraseña</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="email" type="email" placeholder="Ingresa tu correo"></ion-input>
    </ion-item>
    
    <ion-button expand="full" (click)="onResetPassword()">Enviar correo de recuperación</ion-button>
    
    <ion-text color="medium">
      <p *ngIf="successMessage">{{ successMessage }}</p>
      <p *ngIf="errorMessage" color="danger">{{ errorMessage }}</p>
    </ion-text>
  </ion-card-content>
</ion-card>